<div class="now_m">
    <span>11111</span>
</div>

<div class="ask">
    <input>
    <button>Send</button>
</div>

<!--//TODO-->
<!--<div *ngFor="let d of data">-->
<!--    <div class="one_m">-->
<!--        <span>{{d.}}</span>-->
<!--        <button class="one_m_btn_like">-->
<!--            <i class="far fa-heart"></i>-->
<!--            <span>10</span>-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->

<div>
    <div class="one_m">
        <span>11111</span>
        <button class="one_m_btn_like">
            <i class="far fa-heart"></i>
            <span>10</span>
        </button>
    </div>
    <div class="one_m">
        <span>11111</span>
        <button class="one_m_btn_like">
            <i class="far fa-heart"></i>
            <span>5</span>
        </button>
    </div>
</div>
