<div class="ask">
    <mat-form-field appearance="outline" >
        <mat-label>Just ask!</mat-label>
        <input matInput [(ngModel)]="message">
    </mat-form-field>
    <button color="primary" mat-raised-button (click)="sendMessage()">Send</button>
</div>



<div class="messages" >
    <div *ngFor="let m of messages">
        <mat-card>
            <mat-card-content>
                <button color="primary" mat-icon-button [disabled]="isDisabled" (click)="like(answer)">
                    <mat-icon>favorite</mat-icon>
                </button>
                <span>{{m}}</span>
            </mat-card-content>
        </mat-card>
    </div>
</div>


