#inform {
  background-color: white;
  opacity : 0.9;
  font-size: 13pt;
  color: black;
  margin: -975px 325px 25px 325px;
  font-family: "Times New Roman";
  position:absolute;
  padding: 5px 15px 5px 15px;
  border: solid 2px black;
  border-radius: 3px;
  display:none;

}

a{
  font-family: Arial;
  text-decoration: none;
  color: maroon;
  font-size: 12pt;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
