<mat-card class="example-card">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <!--<mat-card-title>{{studentQuestion.title}}</mat-card-title>-->
    <!--<mat-card-subtitle>{{studentQuestion.subtitle}}</mat-card-subtitle>-->
  </mat-card-header>
  <mat-card-content>
    <p>
      {{studentQuestion.question}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button>Like!</button>
<!--    <a href="#" ng-click="doVote()">
      <i class="glyphicon" ng-class="(like.userVotes==1) ? 'glyphicon-heart' : 'glyphicon-heart-empty'"></i>-->
<!--    <button mat-button>Yes</button>
    <button mat-button>No</button>-->

  </mat-card-actions>
</mat-card>
