<div class="statistics">
    <div class="container">
        <h1>Статистичні дані щодо автоматичних голосувань</h1>
        <div class="graph">
            <app-my-bar-chart></app-my-bar-chart>
        </div>
    </div>


    <div class="prob">
        <mat-card >
            <mat-card-content>
                На кожне питання існує 2 відповіді - так/ні (1/0). Вірогідність кожної відповіді = 0.5.
            </mat-card-content>
            <mat-card-content>
                <table>
                    <tr>
                        <td>X</td><td>0</td><td>1</td>
                    </tr>
                    <tr>
                        <td>P</td><td>0.5</td><td>0.5</td>
                    </tr>
                </table>
            </mat-card-content>

            <mat-card-content>
                Для розрахунків нижче використана схема Бернуллі<br>
                Математичне сподівання MX=0*0.5+1*0.5=0.5<br>
                Дисперсія DX=0.5-0.25=0.25<br>
                Середне квадратичне відхиленя O=0.5<br>
            </mat-card-content>
        </mat-card>
    </div>

   {{titles}}


</div>

