<div class="inf">
    <br>
    <br>
    <h2>Підготовка до практики!</h2>
    1) Встановити JDK<br>
    2) <a href="https://www.jetbrains.com/idea/download/#section=windows)">Встановити IntelliJ IDEA Ultimate!!!<br></a>
    3) Створити Spring Boot проект
    <br>
    <br>
    Практика.<br>
    1) Робота в команді!<br>
    2) На практичних заняттях:<br>
    - розбираємо архітектуру<br>
    - вивчаємо нові потрібні інструменти.<br>
    <br>
    <b>Завдання:</b><br>
    Розширити проект який бачили на 1 лекції.<br>
    Кожна команда має добавити нові можливості (Історія голосування, проходження тестів, .....)<br>
    Функціонал в команд можуть повторюватися!<br>
    Завдання для практик<br>
    1) Ознайомитися з Spring, Spring Shell, DI.<br>
    Створити трьох рівневу архітектуру: Simple Data Source (in memory) <- Domain (Бізнес логіка) <- Presentation.<br>
    Продумати які нові можливості ви б хотіли реалізувати та реалізувати їх.<br>
    2) Заміняємо Presentation Layer розробляємо REST API (Spring Shell -> Spring MVC).<br>
    Отримуємо проект (voter який бачили на лекції).<br>
    3) Заміняємо Data Source Layer підключаємо Spring Data (ORM). Добавляємо базу даних.<br>
    4) Створюємо WEB Client для REST API (Angular 2+).<br>
    5) Код ревю, ………….<br>
    <br>

    <h3>Лекція 1</h3>
    IOC, DI <br>
    Spring <br>

    <h3>Лекція 2</h3>
    REST

    <h3>Лекція 3</h3>
    ORM<br>
    Simple project<br>
    Migration tool<br>
    Another DB tools<br>
    <a href="https://habr.com/ru/post/117974/">Jooq</a><br>
    <a href="https://habr.com/ru/post/247885/">MyBatis</a><br>

    <h3>Лекція 4</h3>

    <div>
        Відео матеріали
        <div *ngFor="let lecUrl of videos">
            <app-video [src]="lecUrl"></app-video>
        </div>
    </div>
</div>